<div class="header-green"></div>
<div class="container cv-content">
  <div class="row img-avt">
    <div class="avatar-1 ">
      <img src="/img/alejandro.jpeg" alt="">
    </div>
  </div>

  <div class="content">
    <p class="h4-p">{{data.nombre}} {{data.apellido}}</p>
    <p class="h5-p">{{data.profesion}}</p>
    <p class="h6-p">{{data.edad}} años | {{data.sexo}}</p>
    <p class="text-center">{{data.email}} | {{data.telefono}}</p>


    <h5>Proyectos</h5>

    <div class="row card-content">

      <div class="card">
        <img src="/img/ban-card.jpg" class="card-img-top" alt="proyectos">
        <div class="card-body">
          <h5 class="card-title">Proyecto</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Bton</a>
        </div>
      </div>

      <div class="card">
        <img src="/img/ban-card.jpg" class="card-img-top" alt="proyectos">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Bton</a>
        </div>
      </div>
      <div class="card f-card">
        <img src="/img/ban-card.jpg" class="card-img-top" alt="proyectos">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary text-center">Bton</a>
        </div>
      </div>
    </div>




    <h5>Trabajos desempeñados</h5>
    <div class="row card-desem">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-3 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>


  </div>
</div>